{% extends "base.html" %}
{% block container %}
<main class="container mt-3">
    <div class="card my-4 mx-auto">
        <div class="card-body m-2 m-md-4">
            <article class="row">
                <div class="col-5"><img src="{{teacher.picture}}" class="img-fluid" alt=""></div>
                <div class="col-7">

                    <section class="teacher=info">
                        <h1 class="h2">{{ teacher.name }}  </h1>
                        <p>
                            {% for goals in teacher.goals %}
                                <span class="badge badge-secondary mr-2"> {{ goals.name }}</span>
                            {% endfor %}
                            Рейтинг: {{teacher.rating}} Ставка: {{teacher.price}}р/час
                        </p>
                        <p>{{teacher.about}}</p>
                    </section>

                    <section class="available">
                        <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
                        {% for day, hours in schedule.items() %}
                            <h6 class="mt-4">{{days[day]}}</h6>
                            {% for hour, is_available in hours.items() %}
                                {% if is_available %}
                                    <a href="/booking/{{teacher.id}}/{{day}}/{{hour}}" class="btn btn-outline-success mr-2">{{ hour }} свободно</a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </section>

                </div>
            </article>
        </div>

    </div>
</main>
{% endblock %}
